#home-page
    display: grid
    grid-template-columns: repeat(5, 1fr)

    .home-wrapper 
        figure 
            display: flex
            flex-direction: column
            border: solid 1px darkgrey
            border-radius: 5px
            box-shadow: 11px 5px 0px
            margin: 0px
            padding: 10px  
            box-sizing: border-box

            // .fig-caption 
            
            // img 
        

